*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Space Mono',sans-serif;
    color: #333333;
    height: auto;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px #808080 solid;
}
header h2{
    font-size: 30px ;
}
header button{
    width:35px;
    height:20px;
}