*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Space Mono',sans-serif;
    color: #333333;
    height: auto;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 10px 10px 20px 10px;
    border-bottom: 1px #808080 solid;
}
header h2{
    font-size: 30px ;
}
header button img{
    width:35px;
    height:30px;
}
header button {
    color:transparent;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}
.section1{
    width: 100%;
    padding:30px 15px 20px 15px;
    display: flex;
    flex-direction: column;
}
.oilSolversImg{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.oilSolversImg img{
    height:342px;
    width:114px;
}

.section1 .textButton{
    padding-top: 30px;
    
}
.textButton h1{
    font-size: 38px;
    padding-bottom: 20px;
}
.textButton h3{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 20px;
}
.textButton button{
    width: 200px;
    height: 60px;
    border-radius: 70px;
    border:none;
    background-color: #5DE283;
    font-size: 20px;
    color: white;
}
.section2{
    width:100%;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
}
.section2 h2{
    font-size: 36px;
}



.section5 {
    width:100%;
    background-color: #5DE283;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 10px 24px 10px;
}
.section5 h2{
    font-size:24px;
    padding-bottom: 20px;
}
.section5 button{
    background-color: white;
    border: none;
    width:224px;
    height:52px;
    border-radius:38px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.section5 button p{
    font-size: 20px;
}
.section5 a{
    font-size:16px;
    text-decoration: none;
    color: white;
    padding-top: 10px;
}
.section5 a:hover{
text-decoration: underline;
}